    <header class="container mb-5">
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light rounded">
            <a class="navbar-brand" href="/"><i class="fas fa-laptop-code"></i>CSET</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <input type="button" onclick="changeFont()" class="btn btn-dark btn-sm mr-3 my-2" id="od-button"
                value="Enable OpenDyslexic" />

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/classes">Classes</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/calendar">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item d-md-none d-lg-block">
                        <a class="nav-link" href="/code-of-conduct">Code of Conduct</a>
                    </li>
                    <li class="nav-item d-none d-md-block d-lg-none">
                        <a class="nav-link" href="/code-of-conduct">CoC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <i aria-hidden="true" class="fa fa-search"></i>
                    <input autocomplete="off" id="search-input" oninput="changeResultContainerDisp(this.value)"
                        placeholder="Search CSET..." type="text" class="form-control ml-2" />
                    <label for="search-input"></label>
                </form>
            </div>
        </nav>
    </header>