/* ACCESSIBILITY */


/* Skip to main content:
   https: //accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content
*/

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid yellow;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}

/* For keyboard focus: 
   https://usability.yale.edu/web-accessibility/articles/focus-keyboard-operability
*/
*:focus {
    outline: 2px dashed black;
}

/* OpenDyslexic: 
   https: //opendyslexic.org/ */

@font-face {
    font-family: 'opendyslexic';
    src: url('../fonts/OpenDyslexic-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('../fonts/OpenDyslexic-Italic.otf') format('opentype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('../fonts/OpenDyslexic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('../fonts/OpenDyslexic-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}