<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    <a class="skip-main" href="#content">Skip to main content</a>
    <div id="top" class="page" role="document">
        {%- include header.html -%}

        <main role="main" class="container information" aria-label="Content">
            <h1 class="font-weight-bold text-center py-4">
                <a class="text-dark" href="/">
                    Calgary Society for Equity in Technology
                </a>
            </h1>
            <div id="content">
                {{ content }}
            </div>
        </main>
        <br />
        {%- include footer.html -%}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
</body>

</html>