---
layout: base
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-light" id="homepage">
    <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>Calgary Society for Equity in Technology is a local volunteer-administered collective that offers low cost
            classes/events in technology to the Calgary community.</p>
        <p><a class="btn btn-primary btn-lg" href="#mission-statement" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

</div> <!-- /container -->

<p></p>
<h1 id="mission-statement">Mission Statement</h1>
<p>The Calgary Society for Equity in Technology <strong>(CSET)</strong> is a network of peers who facilitate classes,
    workshops, and
    skill-sharing events outside of a traditional institutional setting. Our classes and events are for people to share
    knowledge and experiences, make connections, and learn from one another. CSET attempts to make space for anyone to
    come
    together as we are: Queer, trans, femme, racialized, neurodivergent, low-income, marginalized in other ways, and
    active
    allies who follow safer space standards. This will always be something we must improve on and struggle to achieve.
</p>
<p>CSET gives much credit to the formal institution that it bloomed from, and the work that the former
    directors/teachers/volunteers of <strong>Calgary School of Informal Education.</strong> Without their guidance of
    them, CSET would
    not exist.</p>